// fonts
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap"); // caveat
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap"); // 'Martian Mono', monospace;

// colors
$main-color: rgb(30, 30, 30);

body {
  background-color: $main-color;
  font-size: 30px;
  font-family: "Martial Mono", monospace;
  color: rgb(235, 235, 235);
}

// .center-line {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 5px;
//   height: 600px;
//   background-color: green;
// }

:root {
  --screen-width: 50vw; /* 50% of the viewport width */
}

.start {
  background-color: red;
}

.progress-bar {
  position: absolute;
  height: 50px;
  width: var(--screen-width);
  left: 0;
  border-radius: 5px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.engagement-bar {
  position: absolute;
  height: 50px;
  width: var(--screen-width);
  right: 0;
  border-radius: 5px;
  background-color: #d06161;
  overflow: hidden;
}
