// fonts
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap"); // caveat
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap"); // 'Martian Mono', monospace;

// colors
$main-color: rgb(30, 30, 30);
$main2: #424242;
$secondary: rgb(235, 235, 235);

body {
  background-color: $main-color;
  font-size: 1.3vw;
  font-family: "Martial Mono", monospace;
  color: $secondary;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 5vw 35vw 20vw 35vw 5vw;
  grid-template-rows: 5vh 20vh 9vh 16vh 25vh 20vh 5vh;
  justify-items: center;
  align-items: center;
}

.title {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: center;
  justify-self: center;
  align-self: center;
}

:root {
  --screen-width: 35vw;
}

.progress {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 5px;
  width: var(--screen-width);
  border-radius: 3px;
  background-color: #75a77b;
  overflow: hidden;
  justify-self: start;
  align-self: center;
}

.total-progress {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  width: var(--screen-width);
  height: 1px;
  background-color: $main2;
  border: none;
  overflow: hidden;
  justify-self: start;
  align-self: center;
}

.engagement {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 4;
  height: 5px;
  width: var(--screen-width);
  border-radius: 3px;
  background-color: #fc8c8c;
  overflow: hidden;
  justify-self: end;
  align-self: center;
}

.total-engagement {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 4;
  width: var(--screen-width);
  height: 1px;
  background-color: $main2;
  border: none;
  overflow: hidden;
  justify-self: end;
  align-self: center;
}

.paragraph1 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: stretch;
}

.paragraph2 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: stretch;
}

.paragraph3 {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: stretch;
}

// buttons
.button {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  border-radius: 3px;
  font-size: 1.3vw;
  font-family: "Martial Mono", monospace;
  background: $main2;
  color: $main-color;
  border: none;
  transition: background-color 0.6s ease-in-out;
  overflow: hidden;
  &:after {
    content: "";
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(rgb(24, 24, 24), 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: $secondary;
  }
}
